.footer {
  background-color: #f4f8fb;
  width: 100%;
}

.creditsFooter {
  text-align: center;
  font-size: 11px;
  opacity: 0.3;
  margin: 50px auto 20px auto;
  cursor: default;

  &:hover {
    opacity: 0.6;
    font-weight: 500;
    transition: opacity 0.1s;
    transition: font-weight 0.1s;
  }
}
